
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import './now-ui-kit.scss';


.btn-clear{
    border: none;
    background: none;
    color: inherit;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    &:hover,
    &:focus,
    &:active {
        background: none;
        box-shadow: none;
    }

}
.border-transparent{
    border-color: rgba($color: #000000, $alpha: 0) !important;
}

